@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.15;
	webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	height: auto;
	background: none;
}