//screen sizes
$screen-sm: 377px;
$screen-sm-large: 525px;

$screen-md-small: 767px;
$screen-md-large: 1024px;

$screen-lg-medium: 1280px;
$screen-lg-large: 1440px;

//colors
$black: #000;
$grey-light: #ccc;
$grey-dark: #444;
$white: #fff;
